<mat-card>
  <mat-card-header>
    <mat-card-title class="margin-zero">
      <h1 class="margin-zero">Home</h1>
    </mat-card-title>
  </mat-card-header>
</mat-card>

<div fxLayout="row" fxLayoutAlign="center stretch">
  <div fxLayout="column" fxFlex="66" fxFlex.lt-md="98">
    <mat-card fxFlexOffset="1">
      <mat-card-content fxLayout="column">

        <div fxLayout="row" fxLayoutAlign="space-between center">
          <div fxFlex="75" fxLayout="row" fxLayoutAlign="start center">
            <form class="example-form" fxFlex="100">
              <mat-form-field fxFlex="100">
                <input matInput placeholder="Search">
              </mat-form-field>
            </form>
            <button mat-icon-button>
              <mat-icon aria-label="icon-button">search</mat-icon>
            </button>
          </div>

          <div fxFlex="25" fxLayout="row" fxLayoutAlign="end center">
            <button mat-icon-button (click)="openStationCreateDialog()">
              <mat-icon aria-label="icon-button">add</mat-icon>
            </button>
          </div>
        </div>
        
        <mat-list fxFlex="100">
          <mat-list-item *ngFor="let station of stations">
            <h3>{{ station.name }}</h3>
            <span class="spacer"></span>
            <button mat-icon-button routerLink="/station/{{station.id}}">
              <mat-icon>remove_red_eye</mat-icon>
            </button>
            <button mat-icon-button (click)="openStationCreateDialog(station)">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button>
              <mat-icon>clear</mat-icon>
            </button>
          </mat-list-item>
        </mat-list>

      </mat-card-content>
    </mat-card>
  </div>
</div>