<div fxLayout="row" fxLayoutWrap fxLayoutAlign="center space-around" style="margin-bottom:20px;">

    <div *ngFor="let fourArray of lastWeatherData" fxFlex="20" fxFlex.lt-sm="96" fxFlex.md="42" fxFlex.sm="42" style="margin-top:20px;" fxFlexOffset="2%"
        fxLayout="column" fxLayoutAlign="start space-around">
        <div *ngFor="let twoArray of fourArray; let i = index" fxLayout="row" fxFlex.gt-md="48" fxFlex.lt-sm="100" fxFlex.sm="44" fxFlex.md="44" fxLayoutAlign="start space-around" style="margin-top:4%"
            [style.margin-top]="i">
            <mat-card *ngFor="let data of twoArray; let j = index" fxFlex="48" style="margin-left:4%" [style.margin-left]="j">
                <mat-card-header>
                    <mat-card-title>{{ data.type }}</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <h1>{{ data.data }}</h1>
                </mat-card-content>
            </mat-card>
        </div>
    </div>

    <mat-card *ngFor="let sensor of filterDataSensor()" fxFlex="20" fxFlex.lt-sm="96" fxFlex.md="42" fxFlex.sm="42" fxFlexOffset="2%" style="margin-top:20px">
        <mat-card-header>
            <mat-card-title>{{ sensor.name }}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <canvas baseChart width="400" height="400" [datasets]="dataSensor[sensor.name]" [labels]="lineChartLabels" [options]="lineChartOptions"
                [colors]="lineChartColors" [legend]="lineChartLegend" [chartType]="lineChartType">
            </canvas>
        </mat-card-content>
    </mat-card>

</div>