{{ station?.name }}
<br />
<br />

<h2>Sensors :</h2>
<li *ngFor="let sensor of station?.sensors">
    {{ sensor.name }}
</li>

<br />
<br />
<h2>Data :</h2>
<li *ngFor="let data of weatherData">
    {{ data | json }}
</li>
<br />
koukou
<br /> {{ dataSensor | json }}
<br /> {{ lineChartLabels | json }}
<br />
<br />
<!-- <div>
    <canvas id="myChart"></canvas>
</div> -->
<br />
DATASENSOR
<li *ngFor="let sensor of station?.sensors">
    {{ dataSensor[sensor.name] | json }}
</li>
<!-- <br />
<br />
<br />
<div style="display: block;" *ngIf="dataSensor.length > 0">
    koukou
    <canvas baseChart width="400" height="400" 
        [datasets]="dataSensor[Temperature]" 
        [labels]="lineChartLabels" 
        [options]="lineChartOptions"
        [colors]="lineChartColors" 
        [legend]="lineChartLegend" 
        [chartType]="lineChartType" 
        (chartHover)="chartHovered($event)"
        (chartClick)="chartClicked($event)">
    </canvas>
</div> -->

<div *ngFor="let sensor of station?.sensors">
    <br />
    <br />
    <div style="display: block;" *ngIf="dataSensor[sensor.name] != undefined">
        <canvas baseChart width="400" height="400"
        [datasets]="dataSensor[sensor.name]"
        [labels]="lineChartLabels"
        [options]="lineChartOptions"
        [colors]="lineChartColors"
        [legend]="lineChartLegend"
        [chartType]="lineChartType">
        </canvas>
    </div>
    
</div>