<h1 mat-dialog-title>New sensor</h1>
<form (ngSubmit)="submit()">
  <div mat-dialog-content fxLayout="column" fxLayoutAlign="space-around stretch">
    <mat-form-field>
      <input matInput [(ngModel)]="sensor.name" placeholder="Name" name="name" required/>
    </mat-form-field>
    <mat-form-field>
      <input matInput [(ngModel)]="sensor.unit" placeholder="Unit" name="unit" required/>
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="cancel()">Cancel</button>
    <button mat-button cdkFocusInitial type="submit">Submit</button>
  </div>
</form>